
<nav class="navbar" role="navigation">
  <div class="navbar-items container">
    <a href="/" class="navbar-brand"><span>Keanu</span> Allridge</a>
      <a id="dropdown-btn" class="navbar-link" href="javascript:void(0);" 
      onclick="toggleDropdown()" >
      <i class="fas fa-bars"></i>
      </a>
      <div id="dropdown-content" class="">

      {% for item in site.data.navigation %}
        <a 
          href="{{ item.link }}"
          {% if page.url == item.link %} 
            class="navbar-link active" 
          {% else %}
            class="navbar-link"
          {% endif %}
          >{{ item.name }}</a>
      {% endfor %}
      </div>
  </div>
</nav>