@import 'footer.scss';
@import 'globals.scss';
@import 'home.scss';
@import 'projects.scss';
@import 'contact.scss';
@import 'navbar.scss';

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $bg-primary;
}

h1,
h2,
h3,
p,
ul,
li {
  color: $white;
}

h1,
h2,
h3 {
  font-family: Oswald, Arial, sans-serif;
}

p {
  color: $white;
  padding: 0 1em 1em;
}

a {
  transition: 0.125s;
}

.active {
  color: $link-active;
}
